<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <p>From Page</p>
    <form action="" method="GET">
    {{data}}
    {% for q in  out %}
    {{q.s}}
    {{q.b}}
      
    {% endfor %}
    {{p}}
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>

    

</head>
<body>
    
</body>
</html>